@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pixelify+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #549c96;
  background: linear-gradient(to right, white, #3c948e);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
}

#container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    min-height: 280px;
    min-width: 300px;
    background-color: white;
    overflow: hidden;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.input {
    background-color: #f0f8f9;
    border: none;
    border-left: #6fd2cd solid 1px;
    padding: 10px;
    border-bottom: #609c9a solid 1px;
}

.top {
    background-color: #6caaa8;
    background: linear-gradient(to left, #64b3af, #309396);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border-radius: 0 0 75px 75px;
}

.top:hover {
    transition: .4s;
    border-radius: 0;
    width: 100%;
}

.top:not(:hover) {
    transition: .4s;
    border-radius: 0 0 75px 75px;
    width: 97%;
}

.top h1 {
    color: white;
    font-size: 30px;
}

.login_option {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.account {
    border: solid 1px #559996;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.account:hover {
    border: solid 1px #4cc1b3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: .4s;
}

.account:not(:hover) {
    transition: .4s;
    border: solid 1px #5d9e9d;
    box-shadow: none;
}

button {
    padding: 10px 30px 10px 30px; 
    background-color: #62b6b2;
    border: solid 1px #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
    transition: .4s;
    border: solid 1px #38a99a;
}

button:not(:hover) {
    transition: .4s;
    background-color: #69b6ac;
}

.signup {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

@media screen and (max-width: 338px) {
    #container {
        min-width: 250px;
    }
    .top:hover {
        border-radius: 0;
        border-radius: 0 0 75px 75px;
        width: 97%;
    }
    #container2 {
        min-width: 250px;
    }
    button:hover {
        background-color: #8df6ef;
        transition: none;
    }
    .account:hover {
        box-shadow: none;
        transition: none;
        border: solid 1px #ccc;
    }
}