*,
::before,
::after {
  /*   border: 1px solid red; */
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  transition: transform 3s ease;
}

body {
  background-image: linear-gradient(#1900ff, #f236dc, #ffeb3b);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body,
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 99%;
  height: 99%;
  background-color: rgb(0, 0, 0);
  position: relative;
  animation: bgChange 5s linear, bgScale 6s linear;
}

.container::before {
  content: "";
  width: 180%;
  height: 180%;
  position: absolute;
  animation: bgRotate 2s linear infinite;
  z-index: -1;
}

p {
  color: rgb(15, 15, 15);
  font-size: 30vw;
  font-family: Rubik, sans-serif;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(100, 100, 100);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6),
    0px 2px 15px rgba(10, 10, 10, 0.5), 0px 5px 25px rgba(20, 20, 20, 0.4);
  margin-left: -1.9vw;
  margin-right: -1.9vw;
  position: relative;
  animation: rise 5s linear, textShadow 3s linear alternate infinite 5s;
  cursor: pointer;
}
p:hover {
  color: rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(200, 200, 200);
  z-index: 11;
}
p:active {
  transform: scale(0.9);
  transition: transform 3s;
  z-index: 0;
}

.D {
  top: -2.25vh;
  z-index: 3;
}
.E {
  top: -1vh;
  z-index: 9;
}
.X {
  top: 0.5vh;
  z-index: 4;
}
.V {
  top: -0.5vh;
  z-index: 8;
}
.I {
  top: 0.25vh;
  z-index: 7;
}
.L {
  top: -1.25vh;
  z-index: 5;
}

@media (max-width: 420px) {
  .container {
    flex-direction: column;
    gap: 0;
    line-height: 0.68;
  }
  .container::before {
    content: "";
    width: 470%;
    height: 470%;
  }
  p {
    font-size: 30vw;
    animation: rise 5s linear, textShadow 3s linear alternate infinite 5s;
  }

  .D,
  .E,
  .X,
  .V,
  .I,
  .L {
    top: 0vh;
  }
  .D {
    left: -10vw;
  }
  .E {
    left: 0;
  }
  .X {
    left: -5vw;
  }
  .V {
    left: 1vw;
  }
  .I {
    left: 5vw;
  }
  .L {
    left: -2vw;
  }
}

/* animation */

/* back neon animation */
@keyframes bgRotate {
  0% {
    background-image: linear-gradient(#1900ff, #f236dc, #ffeb3b);
    transform: rotate(0deg);
  }
  100% {
    background-image: linear-gradient(#1900ff, #f236dc, #ffeb3b);
    transform: rotate(360deg);
  }
}

/* container animation */
@keyframes bgChange {
  0% {
    background-color: rgb(235, 235, 235);
  }
  30% {
    background-color: rgb(235, 235, 235);
  }
  70% {
    background-color: rgb(100, 100, 100);
  }
  100% {
    background-color: rgb(10, 10, 10);
  }
}

@keyframes bgScale {
  0% {
    width: 120%;
    height: 120%;
  }
  100% {
    width: 99%;
    height: 99%;
  }
}

/* text animation */
@keyframes rise {
  0% {
    color: rgb(235, 235, 235);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0),
      0px 0px 5px rgba(0, 0, 0, 0), 0px 2px 15px rgba(10, 10, 10, 0),
      0px 5px 25px rgba(20, 20, 20, 0);
    transform: scale(0.5);
    opacity: 0;
  }
  30% {
    color: rgb(235, 235, 235);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1),
      0px 0px 5px rgba(0, 0, 0, 0.2), 0px 2px 15px rgba(10, 10, 10, 0.3),
      0px 5px 25px rgba(20, 20, 20, 0);
  }
  70% {
    color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3),
      0px 0px 5px rgba(0, 0, 0, 0.6), 0px 2px 15px rgba(10, 10, 10, 0.5),
      0px 5px 25px rgba(20, 20, 20, 0.4);
  }
  100% {
    color: rgb(15, 15, 15);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(100, 100, 100);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4),
      0px 0px 1px rgba(25, 0, 255, 0.3), 0px 2px 4px rgba(48, 255, 252, 0.4),
      0px 5px 6px rgba(25, 0, 255, 0.2);
    opacity: 1;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5),
      0px 0px 1px rgba(25, 0, 255, 0.3), 0px 2px 5px rgba(48, 255, 252, 0.4),
      0px 5px 7px rgba(48, 255, 252, 0.2);
  }
  25% {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4),
      -1px -1px 2px rgba(25, 0, 255, 0.4), -2px -2px 6px rgba(242, 54, 220, 0.3),
      -4px -5px 8px rgba(48, 255, 252, 0.2);
  }
  50% {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4),
      0px 0px 3px rgba(25, 0, 255, 0.6), 0px 2px 5px rgba(25, 0, 255, 0.5),
      0px 5px 8px rgba(25, 0, 255, 0.4);
  }
  100% {
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5),
      1px 0px 1px rgba(242, 54, 220, 0.6), 2px 2px 4px rgba(242, 54, 220, 0.5),
      4px 5px 6px rgba(242, 54, 220, 0.4);
  }
}